@import "theme/theme_variables";  // <--------- Add your variables into this file. Also add variables to overwrite Bootstrap or UnderStrap variables here
@import "assets/bootstrap4";// <--------- Loads Bootstrap3 or Bootstrap4. Change from /bootstrap3 to /bootstrap4 Watch out! just for testing in the moment!
@import "understrap/understrap";// <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
@import "understrap/woocommerce";// <-------- Loads WooCommerce style fixes. Comment out if you aren't using WooCommerce

//Optional files - If you dont use the corresponding scripts/fonts comment em out
//@import "assets/font-awesome"; // <------- Font Awesome Icon font
@import "assets/underscores"; // <------- Underscores media styles

// Any additional imported files //
@import "theme/theme";  // <--------- That's where you can add your own design. Thats your part!
@import "theme/contact-form7"; // Contact Form 7 - Bootstrap 4 support

@import "theme/layout/layout";
@import "theme/layout/site-header";
@import "theme/layout/site-footer";

@import "theme/base/search";
@import "theme/base/comments";
@import "theme/base/widgets";
@import "theme/base/sidebar";
@import "theme/base/single";
@import "theme/base/single-project";
@import "theme/base/archive";
@import "theme/base/taxonomy-project";
@import "theme/base/pagination";
@import "theme/base/singlenav";

@import "theme/related-posts";

@import "theme/elementor/elementor";


/* Common */

html {
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.site-main {
  width: 100%;
}
a {
  transition: color 0.6s;
}
.rotate-90 {
  transform: rotate(90deg);
}
.btn {
  padding: 0.8em 1.6em;
  border-radius: 2em
}

/* #END Common */




/* Newsletter */
.mc-field-group {
  position: relative;
  
  input {
    background: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 1px solid #888;
    width: 100%;
    padding-right: 24px;
  }
  label {
    position: absolute;
    left: 2px;
    transition: transform .4s;
    pointer-events: none;
  }
  input:focus {
    border-color: #bd8881;
    outline: none;
  }


  input:focus ~ label,
  input:valid ~ label
  {
    transform: translatey(-100%);
  }
  #mce-EMAIL:valid ~ label {
    transform: translatey(-100%);
  }
  input:valid ~ label {
    transform: translateY(-100%);
  }
  .button {
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    svg {
      fill: #fff;
    }
    &:focus {
      border-color: #bd8881;
      outline: none;
    }
  }
}

/* #END Newsletter */








/* Hotfix */
/* #END Hotfix */



/* to remove */
@media (min-width: 768px){
  .main-navigation ul ul li:hover {
    background: initial;
    backdrop-filter: invert(0.1);
  }
}



.elysio-blog-list .entry-title {
    margin-top: 0;
}
@media (max-width: 767px){
  .elysio-blog-list .row {
    flex-direction: column;
  }
  .elysio-blog-list .row > * {
    min-width: 100%;
  }
}




.carousel-control-next,
.carousel-control-prev
{
  z-index: 11
}


