/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/

// keep a max width in case it is just the form and nothing else
// we do not want a form spanning whole page
.wpcf7 {
  max-width: 600px;
  margin: 0 auto !important;

  // all inputs except radios and checkboxes inherit from form-control
  input[type=text],
  input[type=search],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=range],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=color],
  input[type=email],
  input[type=file],
  input[type=submit],
  select,
  textarea {
    @extend .form-control;

    background: transparent;

    &:focus {
      box-shadow: none;
      background: transparent;
    }
  }

  // submit button, inherit .btn and .btn-outline-primary classes.
  input[type=submit] {
    @extend .btn;
    @extend .btn-outline-primary;
    height: initial;
    line-height: 1;
  }

  .wpcf7-form {

    // set paragraphs to behave like divs with class .form-group
    p {
      @extend .form-group;
    }

    // let labels be 100%
    label {
      width: 100%;
    }
  }

  // not valid tip for each control
  .wpcf7-not-valid-tip {
    color: theme-color("danger");
  }

  // validation errors ourput bottom of form
  .wpcf7-validation-errors {
    @extend .form-control;
    color: theme-color("danger");
    border: 1px solid $gray-200;
  }
}




// Material Design Style
.wpcf7 .wpcf7_layout--material {
  input[type=text],
  input[type=search],
  input[type=url],
  input[type=tel],
  input[type=number],
  input[type=range],
  input[type=date],
  input[type=month],
  input[type=week],
  input[type=time],
  input[type=datetime],
  input[type=datetime-local],
  input[type=color],
  input[type=email],
  input[type=file],
  select,
  textarea {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $gray-200;
  }
  .input[type=submit] {

  }

  label {
    display: block;
  }
  // .wpcf7-form-control-wrap {
  //   display: block;
  //   &:after {
  //     content: '';
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;
  //     width: 0;
  //     transition: width 400ms linear;
  //     height: 2px;
  //     background-color: blue;
  //     display: block;
  //     z-index: 11;
  //   }
  //   &:focus-within {
  //     &:after {
  //       width: 100%;
  //     }
  //   }
  // }

}





// .form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
//   border-width: 2px !important;
//   border-color: #cccccc !important;
// }
// .wpcf7 input[type=submit] {
//   border: 2px solid #ccc !important;
// }

/* #END CTF7 */




/* 17.07.2019 */
// .wpcf7 input[type=submit] {
//   background: blue;
//   border-radius: 33px !important;
//   line-height: 0;
//   display: inline-block;
//   width: auto;
//   min-width: 120px;
//   margin: 0 auto 0 0;
//   color: #fff;
// }






/* FIXING BUGS 03/07/2019 */

// .wpcf7-form {
  
// }
// .wpcf7-form label {
//   position: initial;
//   pointer-events: initial;
// }
// .wpcf7-form input,
// .wpcf7-form textarea
// {
//   border-radius: 0;
//   border: none;
//   border-bottom: 1px solid #ccc;
// }
// .wpcf7-form input:active,
// .wpcf7-form input:focus,
// .wpcf7-form textarea:active,
// .wpcf7-form textarea:focus
// {
//   outline: none;
//   box-shadow: none;
//   border-color: blue;
// }



// .form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=submit], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea
// {
  
//   border-radius: 0;
//   border: none;
//   border-bottom: 1px solid #ccc;
// }





// Material form (for search and etc.)


form.material-form {
  width: 100%;
  max-width: 320px;
  // margin: 2.75rem auto 1rem;
  @media (max-width: 567px){
    max-width: 100%;
  }
  h1 {
    text-align: center;
  }
  small {
    display: block;
    width: 100%;
    text-align: center;
    //color: $secondary;
    text-transform: uppercase;
  }
  hr.sep {
    //background: $color-primary;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .emoji {
    font-size: 1.2em;
  }


  .group {
    position: relative;
    margin: 2.75rem 0;
  }



  // INPUTS // ============================== //
  textarea {
    resize: none;
  }

  input,
  textarea {
    background: none;
    //color: $secondary;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $secondary;
    &:focus {
      outline: none;
    }
    &:focus ~ label,
    &:valid ~ label {
      top: -14px;
      font-size: 12px;
      //color: $color-primary;
    }
    &:focus ~ .bar:before {
      width: 100%;
    }
  }


  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    //color: $secondary;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;
    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0px;
      position: absolute;
      //background: $color-primary;
      transition: 300ms ease all;
      left: 0%;
    }
  }

  // BUTTONS // ============================== //
  // .btn {
  //   pointer-events: none;
    
  //   background: #fff;
  //   color: mix(black, $secondary, 25%);
  //   border: none;
  //   padding: 10px 20px;
  //   border-radius: 3px;
  //   letter-spacing: 0.06em;
  //   text-transform: uppercase;
  //   text-decoration: none;
  //   outline: none;
  //   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  //   transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  //   &:hover {
  //     color: mix(black, $secondary, 30%);
  //     box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  //   }
  //   &.btn-link {
  //     background: $primary;
  //     color: mix(white, $primary, 80%);
  //     &:hover {
  //       background: darken($primary, 5%);
  //       color: mix(white, $primary, 85%);
  //     }
  //   }
  //   &.btn-submit {
  //     background: $primary;
  //     color: mix(white, $primary, 70%);
  //     &:hover {
  //       background: darken($primary, 5%);
  //       color: mix(white, $primary, 85%);
  //     }
  //   }
  //   &.btn-cancel {
  //     background: #eee;
  //     &:hover {
  //       background: darken(#eee, 5%);
  //       color: mix(black, $secondary, 30%);
  //     }
  //   }
  // }

  // .btn-box {
  //   text-align: center;
  //   margin: 1rem 0;
  // }
}







.button_width--auto .wpcf7-submit {
  width: auto !important;
}


