.elysio-related-posts {
  margin: 2rem auto;
  padding: 2em 0 0;
  border-top: 1px solid #ccc;

  .elysio-related-posts__title {
    margin: 0 auto 2rem;
  }


  .post {

    a {
      transition: color .4s, opacity .4s;
      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }

    .entry-thumb img {
      margin: 0 auto 1rem;
    }
    .entry-title {
      margin: 0 auto 1rem;
    }
    .entry-footer {
      a {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
      }
    }
  }


}