
.elysio-image-hover
{
  &.anim1,
  &.anim2,
  &.anim3
  {
    overflow: hidden;
    .description {
      opacity: 0;
      transform: translateY(3rem);
      transition: all 600ms;
    }
    &:hover {
      .description {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  // &.anim1{
  // }
  &.anim2{
    .title {
      transform: translateY(2rem);
      transition: all 600ms;
    }
    &:hover {
      .title {
        transform: translateY(0);
      }
    }
  }
  &.anim3 {
    .title {
      opacity: 0;
      transform: translateY(1rem);
      transition: all 400ms;
    }
    &:hover {
      .title {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


.elysio_portfolio
{
  &.anim1,
  &.anim2,
  &.anim3
  {
    overflow: hidden;
    .description {
      opacity: 0;
      transform: translateY(3rem);
      transition: all 600ms;
    }
    article:hover {
      .description {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  // &.anim1{
  // }
  &.anim2{
    .title {
      transform: translateY(2rem);
      transition: all 600ms;
    }
    article:hover {
      .title {
        transform: translateY(0);
      }
    }
  }
  &.anim3 {
    .title {
      opacity: 0;
      transform: translateY(1rem);
      transition: all 400ms;
    }
    article:hover {
      .title {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


// .creative-slider
// {
//   &.anim1,
//   &.anim2,
//   &.anim3
//   {
//     overflow: hidden;
//     .slide-content {
//       opacity: 0;
//       transform: translateY(3rem);
//       transition: all 600ms;
//     }
//     article:hover {
//       .slide-content {
//         opacity: 1;
//         transform: translateY(0);
//       }
//     }
//   }
//   // &.anim1{
//   // }
//   &.anim2{
//     .slide-title {
//       transform: translateY(2rem);
//       transition: all 600ms;
//     }
//     article:hover {
//       .slide-title {
//         transform: translateY(0);
//       }
//     }
//   }
//   &.anim3 {
//     .slide-title {
//       opacity: 0;
//       transform: translateY(1rem);
//       transition: all 400ms;
//     }
//     article:hover {
//       .slide-title {
//         opacity: 1;
//         transform: translateY(0);
//       }
//     }
//   }
// }
// 
// 
// 


.elysio-portfolio {
  

  &.image-anim-zoomin {
    overflow: hidden;
    

    article img {
      transition: transform 1s;
      transform: scale(1);
    }
    article:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  
  &.image-anim-zoomout {
    overflow: hidden;
    

    article img {
      transition: transform 1s;
      transform: scale(1.2);
    }
    article:hover {
      img {
        transform: scale(1);
      }
    }
  }

  
}