/* Carousel [SlickJS] */

.slick {
	.slick-content {
		width: 100%;
		height: 100%;
	}
}

.slick-prev {
	z-index: 1;
}
.slick-next:before {
	content: none;
}
.slick-prev:before {
	content: none;
}
.slick-prev,
.slick-next,
.slick-prev svg,
.slick-next svg
{
	transition: background 0.6s, fill 0.6s;
}
/* #END Carousel [SlickJS] */