/* Vertical Creative Slider */

.creative-slider {
  display: flex;
  flex-wrap: nowrap;

  .slider-item + .slider-item {
    border-left: 1px solid #fff;
  }
  .slider-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    &:hover {
      .slide-title,
      .slide-content
      {
        transform: translateY(0);
        opacity: 1;
      }
      .bg-overlay {
        opacity: 0.5;
      }
    }
  }
  .slider-caption {
    height: 100%;
    ul {
      padding: 0;
    }
    li {
      list-style: none;
    }
  }
  .bg-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: color 400ms;
    z-index: 1;
  }
  .slide-title,
  .slide-content
  {
    z-index: 11;
  }
  @media (min-width: 992px){
    .slide-title {
      transition: transform 400ms, opacity 400ms;
      transform: translateY(64px);
    }
    .slide-content {
      transition: transform 600ms, opacity 600ms;
      transform: translateY(96px);
      opacity: 0;
    }
  }
  @media (max-width: 768px){
    flex-wrap: wrap;
    .slider-item {
      min-width: 100%;
    }
    .slide-content {
      z-index: 11;
    }
    .bg-overlay {
      opacity: .5;
    }
  }
}

/* #END Vertical Creative Slider */