/* Horizontal Creative Slider */

.creative-slider-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  .creative-slider-2__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity .8s;
  }
  .creative-slider-2__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
  }
  .creative-slider-2__title {
    font-size: 24px;
    transition: color .8s;
    margin: 0;
  }
  .creative-slider-2__item {
    margin: 16px auto;
    &.active {
      .creative-slider-2__image {
        opacity: 1;
      }
      .creative-slider-2__title {
        color: #fff;
      }
    }
  }
}

/* #END Horizontal Creative Slider */