
@import "image-hover";
@import "blog-loop";
@import "portfolio-loop";
@import "animations";

// SlickJS Carousel
@import "carousel";

// Bootstrap Carousel
@import "slider";

// Vertical Creative Slider
@import "creative-slider";

// Horizontal Creative Slider
@import "creative-slider-2";

// Ticker and Marquee Box
@import "marquee";





// Elementor Common CSS ----------------------------------


/* Elementor */
body.elementor-page p {
  margin: 0;
}

.cl-effect-5 a {
  line-height: 1.4; 
}

.elysio-image-hover 
.image_hover_anim-zoomIn img {
  transition: transform .6s;
}
.elysio-image-hover:hover .image_hover_anim-zoomIn img {
  transform: scale(1.2);
  transition: transform 1s;
}
.elysio-image-hover 
.image_hover_anim-zoomOut img {
  transition: transform .6s;
  transform: scale(1.2);
}
.elysio-image-hover:hover .image_hover_anim-zoomOut img {
  transform: scale(1);
  transition: transform 1s;
}
.elysio-image-hover:hover .image_hover_filter-none img {
  filter: none;
}

/* #END Elementor */


// TODO:

/* Text Animate 01 */
.elementor-widget-elysio-text-animate .anim1 .title {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: text-animate--01 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes text-animate--01 {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/* #END Text Animate 01  */




/* Before / After Slider  */

.ba-Slider{
  position:relative;
  display:block;
  background:#212121;
  border:1px solid white;
  margin:20px auto;
  overflow:hidden;
  user-select:none;
}
.ba-Slider img{
  height: initial !important;
  max-height: initial !important;
  min-height: initial !important;
  width: initial !important;
  max-width: initial !important;
  min-width: initial !important;
}
.slider{
  position:absolute;
  top:calc(50% - 16px);
  left: calc(50% - 16px);
  background: transparent url(https://i.imgur.com/ImtbhIo.png);
  width:32px;
  height:32px;
  cursor:pointer;
}
#before{
  position:absolute;top:0;left:0;
  width:50%;
  overflow:hidden;
}
.ease{
  transition:width ease .5s,left ease .5s;
}


 /* #END Before / After Slider  */