
.elysio-image-hover {
  position: relative;
  display: block;
  
  .image-wrap {
    overflow: hidden;
    &.rounded {
      overflow: hidden;
    }
    img {
      transition: filter 400ms;
    }
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: all 600ms;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }




  // Image Filters
  .image_filter-blur img {
    filter: blur(5px);
  }
  .image_filter-blur2 img {
    filter: blur(10px);
  }
  .image_filter-brightness img {
    filter: brightness(3);
  }
  .image_filter-hue-rotate img {
    filter: hue-rotate(90deg);
  }
  .image_filter-saturate img {
    filter: saturate(8);
  }
  .image_filter-sepia img {
    filter: sepia(1);
  }
  .image_filter-grayscale img {
    filter: grayscale(100%);
  }
  .image_filter-invert img {
    filter: invert(.8);
  }
  .image_filter-opacity img {
    filter: opacity(.2);
  }
  .image_filter-contrast img {
    filter: contrast(4);
  }

  // Image Hover Filter
  &:hover .image_hover_filter-blur img {
    filter: blur(5px);
  }
  &:hover .image_hover_filter-blur2 img {
    filter: blur(10px);
  }
  &:hover .image_hover_filter-brightness img {
    filter: brightness(3);
  }
  &:hover .image_hover_filter-hue-rotate img {
    filter: hue-rotate(90deg);
  }
  &:hover .image_hover_filter-saturate img {
    filter: saturate(8);
  }
  &:hover .image_hover_filter-sepia img {
    filter: sepia(1);
  }
  &:hover .image_hover_filter-grayscale img {
    filter: grayscale(100%);
  }
  &:hover .image_hover_filter-invert img {
    filter: invert(.8);
  }
  &:hover .image_hover_filter-opacity img {
    filter: opacity(.2);
  }
  &:hover .image_hover_filter-contrast img {
    filter: contrast(4);
  }

}

