

/* Ticker */

@keyframes ticker{
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-400%);
  }
}
.elementor-widget-elysio-ticker .title {
  white-space: nowrap;
  animation-name: ticker;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

/* #END Ticker */





/* Marquee Box */

@mixin white-gradient {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

// $animationSpeed: 40s;

// Animation
// @keyframes scroll {
//   0% { transform: translateX(0); }
//   100% { transform: translateX(calc(-250px * 7))}
// }


// Styling
.marquee-box {
  background: white;
  //height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  //width: 960px;
  width: 100%;
  
  &.marquee-box--shadow {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  }
  &.marquee-box--transparent-sides {
    &::before,
    &::after {
      @include white-gradient;
      content: "";
      //height: 100px;
      height: 100%;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }
  }
  
  .marquee-box__track {
    // animation: scroll $animationSpeed linear infinite;
    display: flex;
    // width: calc(250px * 14);
  }
  
  .marquee-box__item {
    //height: 100px;
    // width: 250px;
  }


  .marquee-box__content {
    position: relative;
  }
  .marquee-box__copy {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .marquee-box__image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* #END Marquee Box */
