.elysio_portfolio {

  .aportfolio-filter {
    margin: 32px auto;
  }

  .thumb_link {
    display: block;
    position: relative;
    overflow: hidden;
  }

  
  .thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .elysio-portfolio-row {
      margin-left: 0;
      margin-right: 0;
    // &.no-gap {
      .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
      {
        padding: 0;
      }
    // }
  }

  &.layout-grid {
    .entry-title {
      margin: 32px 0 16px;
    }

    .entry-excerpt {
      color: #888;
      margin: 0 0 16px;
      p {
        margin: 0;
      }
    }
  }

  &.layout-flat {
    .elysio-portfolio-wrap {
      position: relative;
    }

    .elysio-portfolio-inner {
      position: absolute;
      padding: 16px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .entry-title-link {
      display: block;
    }
    .entry-title {
      margin: 0 0 16px;
    }
    .entry-excerpt {
      margin: 0 0 16px;
      p {
        margin: 0;
      }

      &:empty {
        display: none;
      }
    }
    .watchmore {
      margin: 0;
      display: block;
    }
  }





  // Image Filters
  .image_filter-blur {
    overflow: hidden;
    img {
      filter: blur(5px);
    }
  }
  .image_filter-blur2 {
    overflow: hidden;
    img {
      filter: blur(10px);
    }
  }
  .image_filter-blur10 {
    overflow: hidden;
    img {
      filter: blur(50px);
    }
  }
  .image_filter-brightness img {
    filter: brightness(3);
  }
  .image_filter-hue-rotate img {
    filter: hue-rotate(90deg);
  }
  .image_filter-saturate img {
    filter: saturate(8);
  }
  .image_filter-sepia img {
    filter: sepia(1);
  }
  .image_filter-grayscale img {
    filter: grayscale(100%);
  }
  .image_filter-invert img {
    filter: invert(.8);
  }
  .image_filter-opacity img {
    filter: opacity(.2);
  }
  .image_filter-contrast img {
    filter: contrast(4);
  }
  .image_filter-none img {
    filter: initial;
  }

  // Image Hover Filter
  .image_hover_filter-blur .elysio_portfolio-item:hover img {
    filter: blur(5px);
  }
  .image_hover_filter-blur2 .elysio_portfolio-item:hover img {
    filter: blur(10px);
  }
  .image_hover_filter-blur10 .elysio_portfolio-item:hover img {
    filter: blur(50px);
  }
  .image_hover_filter-brightness .elysio_portfolio-item:hover img {
    filter: brightness(3);
  }
  .image_hover_filter-hue-rotate .elysio_portfolio-item:hover img {
    filter: hue-rotate(90deg);
  }
  .image_hover_filter-saturate .elysio_portfolio-item:hover img {
    filter: saturate(8);
  }
  .image_hover_filter-sepia .elysio_portfolio-item:hover img {
    filter: sepia(1);
  }
  .image_hover_filter-grayscale .elysio_portfolio-item:hover img {
    filter: grayscale(100%);
  }
  .image_hover_filter-invert .elysio_portfolio-item:hover img {
    filter: invert(.8);
  }
  .image_hover_filter-opacity .elysio_portfolio-item:hover img {
    filter: opacity(.2);
  }
  .image_hover_filter-contrast .elysio_portfolio-item:hover img {
    filter: contrast(4);
  }
  .image_hover_filter-none .elysio_portfolio-item:hover img {
    filter: initial;
  }
  
  
  
  
//   &.image-zoomout {
//     overflow: hidden;
//     article:hover {
//       .img {
//         transform: scale(1);
//       }
//     }
//   }
//   &.image-zoomin{
//     .title {
//       transform: translateY(2rem);
//       transition: all 600ms;
//     }
//     article:hover {
//       .title {
//         transform: translateY(0);
//       }
//     }
//   }
//   &.image-zoomout{
//   }
}