/* Slider [Bootstrap Carousel] */

.carousel {
  .bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .carousel-caption {
    height: 100%;
  }
}
.carousel-control-next,
.carousel-control-prev
{
  z-index: 11
}
.carousel-caption {
  left: 0;
  right: 0;
}




/* #END Slider [Bootstrap Carousel] */