
body.archive,
body.blog
{
  .wrapper {
    padding: 2rem 0;
  }
  .page-title {
    margin: 0 auto 4rem;
  }

  .post {
    margin-bottom: 2rem;
    .entry-thumb img {
      margin: 0 auto 1rem;
      width: 100%;
    }
    .entry-title,
    .entry-meta,
    .entry-content,
    .entry-footer
    {
      margin: 0 auto 1rem;
    }
  }
}
