
/* Comments */
.comments-area {
  padding: 3rem 0;
}
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.comment-list {
  margin: 0;
  list-style: none;
  ol {
    list-style: none;
  }
  .comment {
    margin: 1rem 0 2rem;
  }
  .edit-link {
    margin-left: 4px;
  }
  
  // Experimental
  .comment-meta {
    padding-left: 40px;
//    display: flex;
//    flex-direction: column;
    position: relative;
    
    .comment-author {
//      order: 2;
      img {
        position: absolute;
        top: 6px;
        
        left: 0;
        border-radius: 100%;
      }
    }
    .comment-metadata {
//      order: 1;
      font-size: 0.8em;
    }
  }
}
.comment-form {
  label {
    margin-bottom: 8px;
    display: block;
  }
  textarea {
    min-width: 100%;
    max-width: 100%;
//    &:focus {
//      background: #f4f4f4;
//    }
  }
  input.submit {
    background: #fff;
    &:hover {
      background: #f4f4f4;
    }
  }
}



.elysio-comments-area-01 {
  .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    transition: border 600ms;
    &:active,
    &:focus
    {
      box-shadow: none;
      border-color: #bd8881;
    }
    
  }


  // Responsive
  margin: 4rem auto 0;
  @media (min-width: 992px){
    margin: 6rem auto 0;
  }
}


.comment-form {
  .btn {
    padding: 12px 30px;
    border-radius: 32px;
  }

  .btn-primary {
      color: #fff;
      background-color: #bd8881;
      border-color: #bd8881;
  }

  .btn-primary:hover {
      color: #fff;
      background-color: rgba(#bd8881, .8);
      border-color: rgba(#bd8881, .8);
  }
}


/* #END Comments */