.pagination {
  justify-content: center;
  margin: 64px 0;
  .page-item + .page-item {
    margin-left: 12px;
  }
  .page-link {
    border-radius: 100% !important;
    width: 48px;
    text-align: center;
    line-height: 46px;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
  }

  @media (max-width: 640px) {
    flex-wrap: wrap;
    .page-item {
      margin-bottom: 8px;
    }
    .page-item + .page-item {
      margin-left: 8px;
    }
    .page-link {
      width: 36px;
      line-height: 34px;
      font-size: 14px;
    }
  }
}