
body.search,
{
  .wrapper {
    padding-bottom: 180px;
  }
  .page-header {
    min-height: 536px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .entry-title {
    font-family: "Playfair Display", Roboto Condensed, Sans-serif;
    margin: 32px 0 16px;
  }
  .entry-meta {
    margin: 8px 0;
  }
  .entry-content {
    margin: 24px 0;
  }
  .entry-meta,
  .entry-content,
  .entry-footer
  {
    font-family: Roboto Condensed, Sans-serif;
  }


  .site-main {
    
    width: 100%;
  }
  .posts_layout_classic {
    // max-width: 800px;
    margin-bottom: 64px;
  }
}


form.searchform {
  input {
    color: #888888;
  }
}



.header_search {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  display: none;
  z-index: 11;
}

.header_search_modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  form.material-form {
    margin: 100px auto 0;
  }

  .row {
    width: 100%;
  }
}


.header_search-close_modal {
  position: fixed;
  right: 32px;
  top: 32px;
  z-index: 111
}


.header_search-result {
  width: 100%;
  max-width: 320px;
  margin: auto;
}