#right-sidebar,
#left-sidebar,
.elementor-widget-sidebar
{

  .widget {
    width: 100%;
    margin: 0 auto 4rem;
  }
  .widget_search {
    .group {
      margin-top: 1rem;
    }
  }
  .widget-title {
    margin: 0 auto 2rem;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    padding: 0;
    a {
      display: block;
      margin-bottom: 1rem;
    }
  }




}
#right-sidebar,
#left-sidebar {
  @media (min-width: 768px){
    max-width: 240px;
  }
}
