body.elysio_portfolio-template-default {
	.site-main article {
		margin: 128px auto;
	}
	.entry-title {
		font-size: 80px;
		font-weight: bold;
		margin-bottom: 32px;
		@media (max-width: 767px){
			font-size: 42px;
		}
	}
}