/* Singlenav */
@keyframes singlenav_arrow {
  0% {
    transform: translateX(0)
  }
  33% {
    transform: translateX(10px)
  }
  66% {
    transform: translateX(-10px)
  }
  100% {
    transform: translateX(0px)
  }
}

.elysio-post-navigation {
  margin: 2em auto;
  font-size: 18px;
  .nav-next {
    text-align: right;
  }
  svg {
    fill: #888;
    transition: fill 400ms linear, transform 1s linear;
  }
  a {
    color: #888;
  }
  a:hover {
    text-decoration:  none;
    color: #000;
    svg {
      fill: #000;
      animation: singlenav_arrow 1s;
    }
  }
  .nav-next a:hover svg {
    animation-direction: reverse;
  }
}
/* #END Singlenav */