.elysio-related-projects,
body.tax-elysio_project_type {
  





  article.elysio_portfolio {
    a:hover {
      text-decoration: none;
    }
    .entry-content {
      position: relative;
      overflow: hidden;

      .entry-thumb {
        display: block;
        transition: transform 10s linear;
      }
      .entry-thumb__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
        @media (min-width: 768px){
          opacity: 0;
          transition: opacity 400ms;
        }
      }
      .entry-copy {
        position: absolute;
        padding: 16px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        text-align: left;
        @media (min-width: 768px){
          padding: 32px;
        }
        a {
          display: block;
          color: #fff;
          @media (min-width: 768px){
            opacity: 0;
            transform: translateY(100%);
            transition: opacity 400ms, transform 400ms;
          }
        }
        .entry-title {
          font-size: 42px;
          font-weight: bold;
          @media (min-width: 768px) and (max-width:991px) {
            font-size: 32px;
          }
        }
        .entry-footer {
          font-size: 18px;
          font-weight: 300;
          margin: 0;
          @media (min-width: 768px) and (max-width:991px) {
            font-size: 16px;
          }
        }
      }
      .entry-footer a {
        transition: opacity 500ms, transform 500ms;
      }
      &:hover {
        .entry-thumb {
          transform: scale(1.2);
        }
        .entry-thumb__overlay {
          opacity: 0.6;
        }
        .entry-copy a {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

}



.elysio-related-projects {
  margin: 2em auto;
}