
.widget {

  @media (min-width: 768px){
    min-width: 240px;
  }
}
// .widget_calendar {
//   td {
//     padding: 4px 12px;
//   }
//   tbody a {
//     color: #fff;
//     background: $color-primary;
//     border-radius: 100%;
//   }
// }



  .widget_calendar {
    table {
      width: 100%;
    }
  }



// -------- Customizer CSS

.widget_media_gallery figure{
  margin: 0;
  padding: 4px;
}
.widget_media_gallery a {
  display: block;
}

