/* Elysio Site Header [default] */
.site-header {
  .navbar-toggler {
    border: none !important;
    outline: none !important;
    padding-right: 0;
    padding-left: 0;
  }
}




/* Base */

.elysio-navbar {
  z-index: 1111;
  transition: background .8s;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  
  
  // .current-menu-item a {
  //   color: #000;
  // }
  
  
  // Menu
  .main-navigation .navbar-nav > .menu-item {
    padding: 1em; 
  }
  .main-navigation ul {
    //background: var(--menu-bg-color) ;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  
  // For 2-nd level menu

  // Header Menu Arrow
  .main-navigation .navbar-nav > .menu-item-has-children {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 20px;
    & > .sub-menu > .menu-item-has-children > a {
      background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="gray" d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg>');
      background-repeat: no-repeat;
      background-position: center right;
    } 
    @media (max-width: 767px){
      background-position: calc(100% - 16px) 16px;
      & > .sub-menu > .menu-item-has-children > a {
        background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="gray" d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
      }
    }
  }
  
  .main-navigation ul ul {
    display: none;
  }
  .dropdown-menu {
    border: none;
  }
  .dropdown-toggle::after {
    content: none;
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background: inherit;
  }
}



/* Responsive */



.elysio-navbar {
  @media (min-width: 992px){
    .navbar-nav {
      width: 100%;
    }
  }
}





@media(max-width: 767px){
  .header_search-icon {
    order: 1;
  }
  #navbarNavDropdown {
    order: 2;
  }
  .navbar-toggler {
    //margin: 0 16px 0 auto;
  }
  .main-navigation {
    .navbar-nav>.menu-item-has-children>.sub-menu>.menu-item-has-children>a {
      display: block;
    }
    ul {
      margin: 0;
      background: #fff;

      li {
        padding: 0.5em 0;
        margin: 0;
      }
      .sub-menu {
        display: none;
        margin-right: -4px;
        padding: .5em 0 .5em .5em;
      }
      li:hover > ul {
        display: block
      }
    }
    & > ul > li.menu-item-has-children {
      border-bottom: 1px solid #ddd;
      &:last-child {
        border: none;
      }
    }
  }
}




@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 8px 22px;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000000, .16);
    .dropdown-item {
      padding: 8px 24px;
    }
  }

  .main-navigation .navbar-nav>.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-navigation ul ul {
    /*    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); */
    float: left;
    position: absolute;
    top: calc(100% + 10px);
    left: -999em;
    z-index: 99999;
    padding: 4px;
  
  /*    border-radius: 8px; */
    background: white;
      padding: 0;
  }

  .main-navigation {
    .sub-menu {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }


  .main-navigation .navbar-nav>.menu-item {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main-navigation ul ul li:hover {
    background: #ddd;
  }

  .main-navigation ul ul ul {
    left: -999em;
    top: 0;
  }

  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {
    left: 100%;
    
  }
  .main-navigation ul li:hover > ul {
    display: block;
  }

  .main-navigation ul ul a {
    width: 240px;
    padding: 12px 24px;
  }

  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: 0;
  }

  .main-navigation li {
  /*  float: left; */
    position: relative;
  }

  .main-navigation a {
    display: block;
    text-decoration: none;
  }

  .main-navigation > ul > li > .sub-menu:before {
    content: '';
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;
  }



  .main-navigation {
    .navbar-nav.justify-content-end {
      & > .menu-item-has-children > .sub-menu {
        right: 0;
        left: initial;
      }
    }
  }

  .main-navigation {
     .navbar-nav.justify-content-end > li:last-child ul li:hover ul,
     .navbar-nav.justify-content-end > li:last-child ul li:focus ul
    {
      left: initial;
      right: 100%;
    }
  }

  .main-navigation ul ul ul {
    top: -10px;
  }
  .main-navigation ul ul li.focus>ul, .main-navigation ul ul li:hover>ul {
      left: calc(100% + 4px);
  }
  .main-navigation ul ul li.focus>ul, .main-navigation ul ul li:hover>ul:before {
    content: '';
    background: transparent;
    position: absolute;
    height: 100%;
    width: 4px;
    top: 0;
    left: -4px;
  }


  // Fix for right last child sub-menu 2 level
  .elysio-navbar .navbar-nav > li.menu-item-has-children:last-child li.menu-item-has-children .sub-menu {
    right: calc(100% + 4px);
      left: initial;
      &:before {
        left: initial;
        right: -4px;
      }
  }

}








/* Behavior */

body.page-template-default,
body.post-template-default,
body.page-template-left-sidebarpage,
body.page-template-right-sidebarpage,
body.blog
{ 
  .wrapper {
    padding-top: 2em;
  }
}




// Header Fixed Top
body.admin-bar .site-header .navbar.fixed-top {
    top: 32px;
}
@media screen and (max-width: 782px) {
  body.admin-bar .site-header .navbar.fixed-top {
      top: 46px;
  }
}




/* Customizer */


// Header Shadow
.site-header .navbar.header-shadow {
  box-shadow: 0 3px 6px 0 #00000029;
  @media (min-width: 768px) {
    .sub-menu {
      box-shadow: 0 3px 6px 0 #00000029;
    }
  }
}

// Header Rounded
.site-header .navbar.header-rounded {
  @media (min-width: 768px) {
    .sub-menu {
      border-radius: 12px;
      padding: 10px 0;
    }
  }
}















// -------- Customizer CSS


@media (min-width: 768px){
  .main-navigation ul ul li:hover {
    background: initial;
    backdrop-filter: invert(0.1);
  }
  .elysio-navbar .main-navigation .navbar-nav>.menu-item-has-children {
    padding-right: 24px;
  }
}


.header_search-icon {
  margin-left: 24px;
}

.elysio-navbar .main-navigation .navbar-nav>.menu-item-has-children {
  padding-right: 24px;
}
.elysio-navbar .main-navigation .navbar-nav>.menu-item-has-children>.sub-menu>.menu-item-has-children>a {
  background-position: 96% center;
}



@media (max-width: 767px){
  .elysio-navbar .main-navigation .navbar-nav>.menu-item-has-children {
    padding-right: 8px;
  }
}


// Custom


.header_search-icon {
  margin-left: 24px;
}


.elysio-navbar .main-navigation .navbar-nav>.menu-item-has-children>.sub-menu>.menu-item-has-children>a {
  background-position: 96% center;
}
