%footer-hover {
  transition: opacity 600ms;
  &:hover {
    opacity: 0.6;
  }
}

.site-footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  
  a {
    @extend %footer-hover;
  }

  .footer-widget {
    .widget-title {
      margin-bottom: 3rem;
    }
    img {
      margin-bottom: 4rem;
      max-width: 100vw;
      width: 100%;
      height: auto;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      padding: 0;
      a {
        display: block;
        margin-bottom: 2rem;
        color: #fff;
      }
    }
  }


  .bump {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 100%;
    display: none;
    text-align: center;
    line-height: 32px;
  }



  .site-info {
    margin: 1rem auto;

    .elysio-contacts-bar {
      svg {
        width: 20px;
        height: 20px;
        fill: #ffffff;
      }
    }

  }



  @media(max-width: 566px){
    .container {
      flex-direction: column;
    }
    .footer-widget {
      margin-right: 8px;
    }
    .site-info {
      margin: 4rem auto;
    }
  }
  @media(min-width: 567px){
    .footer-widget {
      margin-right: 8px;
    }
  }
  @media(min-width: 768px){
    .footer-widget {
      margin-right: 16px;
      max-width: 50%;
    }
  }
  @media (max-width: 768px) {
    .widget-title {
      margin-top: 4rem;
    }
  }
}



// -------- Customizer CSS


@media (min-width: 992px) {
  .site-footer .footer-widget {
    margin-right: 0;
    max-width: 33%;
  }
}


// Elysio Site Footer Newsletter Widget 
.site-footer .mc-field-group .button:hover svg, 
.site-footer .mc-field-group .button:focus svg
{
  @extend %footer-hover;
}

/* Elysio Site Footer Contactform */
.site-footer .wpcf7 input[type=submit]:hover,
.site-footer .wpcf7 input[type=submit]:focus
{
  @extend %footer-hover;
}